<html>
<body>
<form action = "/login" method = "POST">
    <p> Enter Marketing Spend Amount </p>   
    <p> <input type = "text" name = "ms" /> </p>
    <p> Enter Administration Amount </p>   
    <p> <input type = "text" name = "as" /> </p>
    <p> Enter R&D Amount </p>   
    <p> <input type = "text" name = "rd" /> </p>
    <select name = 's'>
        <option value = "New York"> New York </option>
        <option value = "Florida"> Florida </option>
        <option value = "California"> California </option>
    </select>
    <p> <input type = "submit" value = "Submit" /> </p>
</form>
<b> {{value}} </b>
</body>
</html>